@import '../terminal.constants';

$secondary-color: #c5c5c5;

.card {
  border: 1px solid $secondary-color;
  border-radius: 4px;
  margin: 5px 0;

  & + & {
    margin-top: 1ch;
  }

  &, .header {
    padding: 5px 7px;
  }

  .header {
    border-bottom: 1px solid $secondary-color;
    margin: -5px -7px 5px -7px;
  }
}
