.context-menu {
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  margin: 0;
  z-index: 1000;
  padding: 0;
  min-width: 120px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: .8em;
  user-select: none;
}

.item {
  padding: 3px 10px 3px 0;
  list-style: none;
  cursor: pointer;
  height: 20px;
  line-height: 20px;
}

.item:first-child {
  margin-top: 4px;
}

.item:last-child {
  margin-bottom: 4px;
}

.item:hover {
  background: #444444;
}

.icon {
  display: inline-block;
  width: 25px;
  text-align: center;
  padding-left: 3px;
}

.title {
  display: inline-block;
}

