:host {
  margin: 2px 0;
  display: flex;
}

img {
  width: 202px;
  height: 269px;
}

.info {
  margin: 0 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  p {
    white-space: normal;
    margin: 0;
  }

  .help {
    color: #c5c5c5;
  }

  .resume {
    font-size: 3em;
    max-width: 22ch;
  }

  .social {
    font-size: 1.7em;
  }
}
