<img src="assets/josselinbuils.png" alt="me"/>
<div class="info">
  <p class="resume">Hey, I'm Josselin, a full-stack JavaScript developer :)</p>
  <p class="social">
    <a href="https://linkedin.com/in/josselinbuils" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://github.com/josselinbuils" target="_blank">
      <i class="fab fa-github"></i>
    </a>
    <a href="mailto://contact@josselinbuils.me">
      <i class="fas fa-envelope"></i>
    </a>
  </p>
  <p class="help">Type help for more information</p>
</div>
