<img src="/assets/josselinbuils.png"/>
<div class="info">
  <p class="resume">Hey, I'm Josselin, a full-stack JavaScript developer :)</p>
  <p class="social">
    <a href="https://www.linkedin.com/in/josselin-buils-60733858/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    <a href="https://github.com/josselinbuils" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href="mailto://josselin.buils@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
  </p>
  <p class="help">Type help for more information</p>
</div>
