<div #window class="window" [ngClass]="{active: active}" (click)="select()">
  <div class="titlebar" (mousedown)="startMove($event)" (dblclick)="maximize()">
    <div class="buttons">
      <span class="close" (click)="close()"></span>
      <span *ngIf="resizable && canBeMaximized()" class="maximize" (click)="maximize()"></span>
    </div>
    <span class="title">{{title}}</span>
  </div>
  <div #content class="content" [ngStyle]="contentStyle">
    <ng-content></ng-content>
  </div>
  <div *ngIf="resizable" class="resize" (mousedown)="startResize($event)"></div>
</div>
