:host {
  min-width: 800px;
  min-height: 400px;
  position: fixed;
  margin: auto;
  border-radius: 6px; /* Needed by box shadow */
  box-shadow: 0 0 20px #acacac;
  display: flex;
  flex-direction: column;
  perspective: 300px;
}

.title {
  color: #1b1b1b;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: .8em;
  line-height: 22px;
  cursor: default;
}

.titlebar {
  background: #f0f0f0;
  height: 20px;
  min-height: 20px;
  border: 1px solid #acacac;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  user-select: none;
  text-align: center;
}

.content {
  border: 1px solid #acacac;
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  flex-grow: 1;
  overflow: auto;
  position: relative;
}

.buttons {
  position: absolute;
  top: 3px;
  left: 5px;
}

.close, .maximize {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #acacac;
  height: 10px;
  width: 10px;
  border-radius: 6px;
  cursor: default;
  margin-left: 3px;
  display: inline-block;
}

.close:hover {
  background: #ff5722;
  border-color: red;
}

.maximize {
  left: 26px;
}

.maximize:hover {
  background: #8fd800;
  border-color: #71ab00;
}

.resize {
  width: 10px;
  height: 10px;
  position: absolute;
  right: -2px;
  bottom: -2px;
  cursor: nwse-resize;
  user-select: none;
}
