:host {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 60px;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
}

.task {
  height: 53px;
  line-height: 53px;
  font-size: 32px;
  text-align: center;
  border: 1px solid transparent;
  margin: 3px 3px 0 3px;
}

.task.active {
  background: #444444;
}

.task.running {
  border-color: #616161;
}
