@import '../platform.constants';

:host {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 60px;
  background: $background-color;
  z-index: 999;
  color: $text-color;
}

.task {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 32px;
  text-align: center;
  position: relative;
  cursor: default;

  &.active {
    background: lighten($background-color, 20%);
  }

  &.active:hover {
    background: lighten($background-color, 25%);
  }

  &:hover {
    background: lighten($background-color, 15%);
  }

  .fa-gamepad {
    transform: scale(.8);
  }

  .fa-headphones {
    transform: translateY(-2px) translateY(2px);
  }

  .fa-reddit-alien {
    transform: scale(1.1);
  }

  .fa-sticky-note {
    transform: translateY(0px) scale(1.1);
  }

  .fa-terminal {
    transform: scale(.8);
  }

  .running {
    background: $primary-color;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 3px;
  }
}

:host-context(.orientation-portrait) {
  top: auto;
  right: 0;
  height: 60px;
  width: auto;
}
