* {
  user-select: none;
  cursor: default;
}

audio {
  display: none;
}

.bar {
  width: 0;
  background: #efefef;
  position: relative;
}

.bar-container {
  background: #3c3c3c;
}

.bar-container, .bar {
  height: 4px;
  border-radius: 2px;
}

.button {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  margin-right: 15px;
}

.button + .button {
  margin-left: 0;
}

.button:hover {
  color: white;
}

.button:active, .button.checked {
  color: #007ad8;
}

.current-time {
  margin: 0 10px 0 15px;
}

.current-time, .duration {
  line-height: 28px;
  text-align: center;
}

.default-preview {
  background: white;
  font-size: 80px;
  text-align: center;
  line-height: 100px;
  color: black;
}

.duration {
  margin: 0 10px;
}

.flex {
  display: flex;
}

.left {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.max .controls {
  margin-right: 24px;
}

.max .current-time, .max .duration {
  line-height: 16px;
}

.max .music-info-max {
  flex-basis: 100px;
  margin-left: 10px;
}

.max .music-info-min {
  flex-basis: 0;
}

.max .music-preview-max {
  flex-basis: 54px;
  margin-left: 15px;
  opacity: 1;
}

.max .music-preview-min {
  flex-basis: 0;
  height: 42px;
  margin: 0;
  opacity: 0;
}

.max .nav-bar {
  margin-bottom: 9px;
}

.max .play-button {
  font-size: 40px;
  line-height: 42px;
}

.max .playlist {
  flex-grow: 1;
}

.max .playlist-button {
  line-height: 16px;
}

.max .progress-bar {
  margin: 0;
}

.music-info-min {
  text-overflow: ellipsis;
  flex: 0 0 20px;
  line-height: 20px;
  width: 205px;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  user-select: text;
}

.controls, .music-info-min, .music-info-max, .music-preview-max, .music-preview-min, .play-button, .playlist {
  transition: all .4s ease-in-out;
}

.music-info-max {
  flex: 0 0 0;
  height: 54px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.music-preview-max {
  flex: 0 0 0;
  height: 54px;
  background-repeat: no-repeat;
  background-size: 54px;
  opacity: 0;
}

.music-preview-min {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-size: 100px;
  opacity: 1;
}

.nav-bar {
  display: flex;
  flex: 0 0 58px;
}

.play-button {
  font-size: 60px;
  line-height: 80px;
}

.player {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: .6em;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.playlist {
  flex: 0 0 0;
}

.playlist-button {
  font-size: 14px;
  flex: 0 0 1ch;
  line-height: 28px;
  margin-left: 0;
}

.prev-button, .next-button {
  font-size: 30px;
}

.progress-bar {
  margin: 6px 0;
  padding: 6px 0;
  flex-grow: 1;
}

.progress-bar:hover .bar, .seeking .bar {
  background: #007ad8;
}

.progress-bar:hover .bar:after, .seeking .bar:after {
  content: "";
  background: #007ad8;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: absolute;
  top: -3px;
  right: -5px;
}

.random-button, .repeat-button {
  font-size: 15px;
  margin-top: 1px;
}

.right {
  flex-grow: 1;
}

.seeking .music-info-min {
  user-select: none;
}

