* {
  user-select: none;
  cursor: default;
}

.player {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: .6em;
}

.left {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.music-info {
  text-overflow: ellipsis;
  width: 205px;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  user-select: text;
}

.seeking .music-info {
  user-select: none;
}

.music-preview {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-size: 100px;
}

.default-preview {
  background: white;
  font-size: 80px;
  text-align: center;
  line-height: 100px;
  color: black;
}

.button {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  margin-right: 15px;
}

.button + .button {
  margin-left: 0;
}

.button:hover {
  color: white;
}

.button:active, .button.checked {
  color: #007ad8;
}

.random-button, .repeat-button {
  font-size: 15px;
  margin-top: 1px;
}

.play-button {
  font-size: 60px;
  line-height: 80px;
}

.prev-button, .next-button {
  font-size: 30px;
}

.progress-bar {
  margin: 6px -5px;
  padding: 6px 0;
  flex-grow: 1;
}

.bar-container {
  background: #3c3c3c;
}

.bar-container, .bar {
  height: 4px;
  border-radius: 2px;
}

.bar {
  width: 0;
  background: #efefef;
  position: relative;
}

.progress-bar:hover .bar, .seeking .bar {
  background: #007ad8;
}

.progress-bar:hover .bar:after, .seeking .bar:after {
  content: "";
  background: #007ad8;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: absolute;
  top: -3px;
  right: -5px;
}

.current-time, .duration {
  line-height: 28px;
  text-align: center;
  margin: 0 15px;
}

audio {
  display: none;
}
