$primary-color: #007ad8;
$secondary-color: #3c3c3c;
$text-color: #efefef;
$text-hover-color: white;

* {
  user-select: none;
  cursor: default;
}

audio {
  display: none;
}

.player {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: .8em;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  &.max {
    .body {
      display: flex;
      flex-grow: 1;
    }

    .controls {
      margin-right: 24px;
    }

    .default-preview {
      font-size: 50px;
      line-height: 62px;
    }

    .music-info {
      flex: 0 0 20ch;
      height: 62px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-left: 15px;

      .name, .artist {
        @extend .text-ellipsis;
        user-select: text;
      }

      .artist {
        font-size: .8em;
      }
    }

    .music-preview {
      flex: 0 0 62px;
      height: 62px;
      background-repeat: no-repeat;
      background-size: 62px;
      margin-left: 15px;
    }

    .nav-bar {
      margin-bottom: 13px;
      display: flex;
      flex: 0 0 62px;
    }

    .play-button {
      font-size: 40px;
      line-height: 42px;
    }

    .playlist {
      flex-grow: 1;
      margin: 5px 15px 15px 15px;
      display: flex;
      flex-direction: column;

      table {
        width: calc(100% - 10px);
        border-collapse: collapse;
        table-layout: fixed;

        &.header {
          width: calc(100% - 18px);

          th {
            padding: 3px 15px 10px 0;
          }

          th {
            text-align: left;
          }
        }

        td {
          @extend .text-ellipsis;
          position: relative;
          height: 46px;
          user-select: text;
          padding-right: 15px;
        }

        td:last-child, th:last-child {
          text-align: right;
          padding-right: 0;
        }

        tr {
          border-bottom: 1px solid $secondary-color;
          color: $text-color;

          &.active {
            color: $primary-color;

            .inline-music-preview {
              background-color: transparent;
              background-image: none !important;

              i {
                display: inherit;
              }
            }
          }

          &.active:hover .inline-music-preview {
            i:hover:not(:active) {
              color: lighten($primary-color, 10%);
            }
          }

          &:hover .inline-music-preview {
            background-color: transparent;
            background-image: none !important;

            i {
              display: inherit;
            }

            i:active {
              color: $primary-color;
            }

            i:hover:not(:active) {
              color: lighten($text-color, 10%);
            }
          }

          .col-album {
            width: 20%;
          }

          .col-artist {
            width: 20%;
          }

          .col-duration {
            width: 9%;
          }

          .col-preview {
            width: 32px;
          }

          .col-release {
            width: 15%;
          }

          .inline-music-preview {
            width: 32px;
            height: 32px;
            background-size: 32px;
            background-repeat: no-repeat;
            text-align: center;

            i {
              display: none;
              line-height: 32px;
              font-size: 32px;
            }
          }
        }
      }
    }

    .overflow {
      overflow-y: auto;
      overflow-x: hidden;
      flex-grow: 1;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background: $secondary-color;
        border-radius: 5px;
      }

      &::-webkit-scrollbar-track {
        border-radius: 5px;
      }
    }

    .playlist-button {
      line-height: 16px;
    }

    .progress-bar {
      margin: 0;
    }

    .right {
      flex-grow: 1;
    }

    .sidebar {
      flex: 0 0 120px;
      padding: 15px;

      .brand {
        font-size: 0.8em;
        color: $secondary-color !important;
        cursor: pointer;
        text-decoration: none;
        margin-top: 5px;
        display: block;
      }

      .item {
        &.active {
          color: $primary-color;
        }

        &:not(.title) {
          cursor: pointer;
        }

        .sub-item {
          cursor: pointer;
          margin-left: 15px;

          &.active {
            color: $primary-color;
          }
        }
      }

      .logo {
        text-align: center;
        color: $primary-color;
        font-size: 70px;
        line-height: 120px;
      }
    }

    .time {
      width: 90%;
      max-width: 700px;
      margin: 0 auto;
      position: relative;

      .current-time, .duration {
        line-height: 16px;
      }
    }
  }

  &.min {
    .default-preview {
      font-size: 80px;
      line-height: 100px;
    }

    .music-info {
      flex: 0 0 20px;
      line-height: 20px;
      display: block;
      margin: 0 15px;
      text-align: center;
    }

    .music-preview {
      flex: 0 0 70px;
      height: 70px;
      margin-right: 15px;
      background-repeat: no-repeat;
      background-size: 70px;
    }

    .play-button {
      font-size: 50px;
      line-height: 80px;
    }

    .playlist-button {
      line-height: 28px;
    }

    .time {
      .current-time, .duration {
        line-height: 28px;
        text-align: center;
        font-size: .8em;
      }
    }
  }

  .bar {
    width: 0;
    background: #efefef;
    position: relative;
  }

  .bar-container {
    background: $secondary-color;
  }

  .bar-container, .bar {
    height: 4px;
    border-radius: 2px;
  }

  .button {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 15px;
  }

  .button + .button {
    margin-left: 0;
  }

  .button:hover {
    color: $text-hover-color;
  }

  .button:active, .button.checked {
    color: $primary-color;
  }

  .controls {
    text-align: center;
  }

  .default-preview {
    background: white;
    text-align: center;
    color: black;
  }

  .duration {
    margin: 0 10px;
  }

  .flex {
    display: flex;
  }

  .left {
    flex-grow: 1;
  }

  .music-info {
    @extend .text-ellipsis;
    overflow: hidden;
  }

  .playlist-button {
    font-size: 14px;
    flex: 0 0 1ch;
    margin-left: 0;
  }

  .prev-button, .next-button {
    font-size: 30px;
  }

  .progress-bar {
    margin: 6px 0;
    padding: 6px 0;
    flex-grow: 1;
  }

  .progress-bar:hover .bar, .seeking .bar {
    background: $primary-color;
  }

  .progress-bar:hover .bar:after, .seeking .bar:after {
    content: "";
    background: $primary-color;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    position: absolute;
    top: -3px;
    right: -5px;
  }

  .random-button, .repeat-button {
    font-size: 15px;
    margin-top: 1px;
  }

  .seeking .music-info {
    user-select: none;
  }

  .text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .time {
    display: flex;

    .current-time {
      margin: 0 10px 0 15px;
    }

    .current-time, .duration {
      text-align: center;
      font-size: .8em;
    }
  }
}
