@import '../common';

:host {
  color: $color;
  font-family: monospace;
  display: block;
  width: 100%;
  height: 100%;

  &[hidden] {
    display: none;
  }
}

:host > div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  transform: translate(-50%, -50%);
  max-height: calc(100% - 100px);
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: -30px;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: lighten($background-color, 15%);
    border-radius: $radius;
  }

  &::-webkit-scrollbar-track {
    border-radius: $radius;
  }

  &.dataset-choice {
    height: 350px;
  }

  &.renderer-choice {
    height: 180px;
  }

  h1 {
    margin-top: 0;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 20px);
    margin: 20px 0 0 -10px;

    .selectable {
      cursor: pointer;
      margin: 12px;

      &:hover {
        filter: brightness(115%);
      }
    }

    .dataset {
      @extend .selectable;
      height: 130px;
      width: 130px;
      background: #080808;
      line-height: 130px;
      text-align: center;

      img {
        height: 100%;
      }

      span {
        display: block;
        width: calc(100% - 10px);
        margin: 0 auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .renderer {
      @extend .selectable;
      max-height: 100px;
    }
  }
}

* {
  user-select: none;
}

button {
  position: absolute;
  left: 10px;
  top: 10px;
}
