<button *ngIf="step === 'dataset'" (click)="back()">Back</button>

<div [hidden]="step !== 'renderer'" class="renderer-choice">
  <h1>Choose the renderer</h1>
  <div class="container">
    <img class="renderer" *ngFor="let renderer of renderers" [src]="'/assets/' + renderer.logo"
         (click)="chooseRenderer(renderer.type)">
  </div>
</div>

<div [hidden]="step !== 'dataset'" class="dataset-choice">
  <h1>Choose the dataset</h1>
  <div class="container">
    <div *ngFor="let dataset of datasets" (click)="chooseDataset(dataset)" class="dataset">
      <img *ngIf="dataset.preview" [src]="previewsPath + dataset.preview">
      <span *ngIf="!dataset.preview">{{dataset.name}}</span>
    </div>
  </div>
</div>
