<img src="/assets/josselinbuils.png" style="display: inline-block"/>
<div style="display: inline-block; margin-bottom: 5px; vertical-align: super;">
  <p style="font-size: .7em;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;__<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/\&nbsp;\<br/>
    &nbsp;__&nbsp;&nbsp;__&nbsp;&nbsp;__&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;__\&nbsp;\&nbsp;\____<br/>
    /\&nbsp;\/\&nbsp;\/\&nbsp;\&nbsp;&nbsp;/'__`\&nbsp;\&nbsp;'__`\<br/>
    \&nbsp;\&nbsp;\_/&nbsp;\_/&nbsp;\/\&nbsp;&nbsp;__/\&nbsp;\&nbsp;\L\&nbsp;\<br/>
    &nbsp;\&nbsp;\___x___/'\&nbsp;\____\\&nbsp;\_,__/<br/>
    &nbsp;&nbsp;\/__//__/&nbsp;&nbsp;&nbsp;\/____/&nbsp;\/___/<br/>
    &nbsp;&nbsp;<br/><br/>
    &nbsp;&nbsp;__&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;___<br/>
    &nbsp;/\&nbsp;\&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/\_&nbsp;\<br/>
    &nbsp;\_\&nbsp;\&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;__&nbsp;&nbsp;&nbsp;__&nbsp;&nbsp;__&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;__\//\&nbsp;\&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;___&nbsp;&nbsp;&nbsp;_____&nbsp;&nbsp;&nbsp;_____&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;__&nbsp;&nbsp;&nbsp;_&nbsp;__<br/>
    &nbsp;/'_`&nbsp;\&nbsp;&nbsp;/'__`\/\&nbsp;\/\&nbsp;\&nbsp;&nbsp;/'__`\\&nbsp;\&nbsp;\&nbsp;&nbsp;&nbsp;/&nbsp;__`\/\&nbsp;'__`\/\&nbsp;'__`\&nbsp;&nbsp;/'__`\/\`'__\<br/>
    /\&nbsp;\L\&nbsp;\/\&nbsp;&nbsp;__/\&nbsp;\&nbsp;\_/&nbsp;|/\&nbsp;&nbsp;__/&nbsp;\_\&nbsp;\_/\&nbsp;\L\&nbsp;\&nbsp;\&nbsp;\L\&nbsp;\&nbsp;\&nbsp;\L\&nbsp;\/\&nbsp;&nbsp;__/\&nbsp;\&nbsp;\/<br/>
    \&nbsp;\___,_\&nbsp;\____\\&nbsp;\___/&nbsp;\&nbsp;\____\/\____\&nbsp;\____/\&nbsp;\&nbsp;,__/\&nbsp;\&nbsp;,__/\&nbsp;\____\\&nbsp;\_\<br/>
    &nbsp;\/__,_&nbsp;/\/____/&nbsp;\/__/&nbsp;&nbsp;&nbsp;\/____/\/____/\/___/&nbsp;&nbsp;\&nbsp;\&nbsp;\/&nbsp;&nbsp;\&nbsp;\&nbsp;\/&nbsp;&nbsp;\/____/&nbsp;\/_/<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\&nbsp;\_\&nbsp;&nbsp;&nbsp;\&nbsp;\_\<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\/_/&nbsp;&nbsp;&nbsp;&nbsp;\/_/<br/>
  </p>
  <p>&nbsp;</p>
  <p>Hi, I'm Josselin and I'm a web developper :)</p>
  <p>&nbsp;</p>
  <p>[ JavaScript, AngularJS, Node.js, HTML5, CSS3, C, Git, Docker ]</p>
  <p>&nbsp;</p>
  <p>Type help for more information</p>
</div>
