:host {
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 237px;
  margin: 5px 0;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  background: #444444;
}

.card, .card:visited, .card:hover, .card:active {
  color: inherit;
}

.description {
  margin: 10px 5px 10px 5px;
  text-align: justify;
}

.language {
  float: right;
}

.updated {
  text-align: right;
  font-size: .9em;
}
