:host {
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 237px;
  margin: 5px 0;
}

.description {
  margin: 10px;
  text-align: justify;
}

.language {
  float: right;
}
