:host {
  margin: 0 -5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 230px;
  margin: 5px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.card:hover {
  background: #444444;
}

.card, .card:visited, .card:hover, .card:active {
  color: inherit;
}

.description {
  text-align: justify;
  flex-grow: 1;
}

.preview {
  margin: 10px 0;
  height: 129px;
  line-height: 129px;
  font-size: 50px;
  text-align: center;
}

.preview i {
  vertical-align: middle;
}

.preview img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  border-radius: 6px;
}

.card:hover .preview img {
  opacity: 1;
}

.language {
  float: right;
}

.updated {
  text-align: right;
  font-size: .9em;
  margin-top: 10px;
}
