:host {
  margin: 2px 0;
  display: flex;
}

img {
  height: 100%;
}

.info {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.resume {
  font-size: 3em;
  max-width: 22ch;
}
