<img src="/assets/josselinbuils.png"/>
<div>
  <p class="ascii">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;__<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/\&nbsp;\<br/>
    &nbsp;__&nbsp;&nbsp;__&nbsp;&nbsp;__&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;__\&nbsp;\&nbsp;\____<br/>
    /\&nbsp;\/\&nbsp;\/\&nbsp;\&nbsp;&nbsp;/'__`\&nbsp;\&nbsp;'__`\<br/>
    \&nbsp;\&nbsp;\_/&nbsp;\_/&nbsp;\/\&nbsp;&nbsp;__/\&nbsp;\&nbsp;\L\&nbsp;\<br/>
    &nbsp;\&nbsp;\___x___/'\&nbsp;\____\\&nbsp;\_,__/<br/>
    &nbsp;&nbsp;\/__//__/&nbsp;&nbsp;&nbsp;\/____/&nbsp;\/___/<br/>
    &nbsp;&nbsp;<br/><br/>
    &nbsp;&nbsp;__&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;___<br/>
    &nbsp;/\&nbsp;\&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/\_&nbsp;\<br/>
    &nbsp;\_\&nbsp;\&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;__&nbsp;&nbsp;&nbsp;__&nbsp;&nbsp;__&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;__\//\&nbsp;\&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;___&nbsp;&nbsp;&nbsp;_____&nbsp;&nbsp;&nbsp;_____&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;__&nbsp;&nbsp;&nbsp;_&nbsp;__<br/>
    &nbsp;/'_`&nbsp;\&nbsp;&nbsp;/'__`\/\&nbsp;\/\&nbsp;\&nbsp;&nbsp;/'__`\\&nbsp;\&nbsp;\&nbsp;&nbsp;&nbsp;/&nbsp;__`\/\&nbsp;'__`\/\&nbsp;'__`\&nbsp;&nbsp;/'__`\/\`'__\<br/>
    /\&nbsp;\L\&nbsp;\/\&nbsp;&nbsp;__/\&nbsp;\&nbsp;\_/&nbsp;|/\&nbsp;&nbsp;__/&nbsp;\_\&nbsp;\_/\&nbsp;\L\&nbsp;\&nbsp;\&nbsp;\L\&nbsp;\&nbsp;\&nbsp;\L\&nbsp;\/\&nbsp;&nbsp;__/\&nbsp;\&nbsp;\/<br/>
    \&nbsp;\___,_\&nbsp;\____\\&nbsp;\___/&nbsp;\&nbsp;\____\/\____\&nbsp;\____/\&nbsp;\&nbsp;,__/\&nbsp;\&nbsp;,__/\&nbsp;\____\\&nbsp;\_\<br/>
    &nbsp;\/__,_&nbsp;/\/____/&nbsp;\/__/&nbsp;&nbsp;&nbsp;\/____/\/____/\/___/&nbsp;&nbsp;\&nbsp;\&nbsp;\/&nbsp;&nbsp;\&nbsp;\&nbsp;\/&nbsp;&nbsp;\/____/&nbsp;\/_/<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\&nbsp;\_\&nbsp;&nbsp;&nbsp;\&nbsp;\_\<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\/_/&nbsp;&nbsp;&nbsp;&nbsp;\/_/<br/>
  </p>
  <p class="resume">Hi, my name is Josselin and I am a full-stack JavaScript developer :)</p>
  <p class="light">Type help for more information</p>
</div>
