<app-window
  background="rgba(30, 30, 30, 0.9)" titleBackground="#f0f0f0" titleColor="#2f2f2f" [windowTitle]="title"
  [minWidth]="800" [minHeight]="400"
>
  <div #terminal class="terminal">
    <div #commands></div>
    <p class="user-input">
      <app-terminal-command [args]="[user, userInput]"></app-terminal-command>
      <span
        class="caret" [innerText]="userInput.substr(caretIndex, 1)"
        [ngStyle]="{'left.ch': !waiting ? user.length + caretIndex + 2 : 0}"
      ></span>
    </p>
  </div>
</app-window>
