<p class="loading" *ngIf="!projects">Loading...</p>
<a class="card" *ngFor="let project of projects" [href]="project.url" target="_blank">
  <p>{{project.name}}<span class="language">{{project.language}}</span></p>
  <div class="preview">
    <img [src]="project.imageURL" *ngIf="project.imageURL" [alt]="project.name"/>
    <i class="fas fa-camera" *ngIf="!project.imageURL"></i>
  </div>
  <p class="description">{{project.description}}</p>
  <p class="updated">Updated {{project.updated}}</p>
</a>
