<app-window
  [windowTitle]="title" background="#fbfbfb" titleColor="#ff4501" [minWidth]="850" [minHeight]="500" [height]="500"
>
  <div class="reddit">
    <div class="sidebar">
      <div class="logo">
        <i class="fab fa-reddit-alien"></i>
      </div>
      <ul class="menu">
        <li><a (click)="load('/r/popular/hot')">Popular</a></li>
        <li>
          Subreddits
          <ul>
            <li *ngFor="let subreddit of subreddits">
              <a (click)="load('/r/' + subreddit + '/hot')">r/{{subreddit}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="body">
      <h1 class="path">{{path}}
        <span *ngIf="subreddit">
          <a *ngIf="path.slice(-4) !== '/hot'" (click)="load('/r/' + subreddit + '/hot')">Hot</a>
          <a *ngIf="path.slice(-4) !== '/top'" (click)="load('/r/' + subreddit + '/top')">Top</a>
        </span>
      </h1>
      <div class="spinner" *ngIf="!data">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
      <div class="links">
        <div
          class="link" *ngFor="let link of data" [ngClass]="{'has-preview': link.previewUrl, stickied: link.stickied}"
        >
          <div class="link-score">
            <span>{{link.score}}</span>
          </div>
          <a
            class="link-thumbnail" [href]="link.url" [ngStyle]="{'background-image': 'url(' + link.previewUrl + ')'}"
            target="_blank"
          >
          </a>
          <div class="link-info">
            <a class="link-title" [href]="link.url" target="_blank">{{link.title}}</a>
            <div class="link-details">
              <div>
                <span>submitted {{link.since}} by u/{{link.author}}</span>
                <span *ngIf="link.showSubreddit">
                  on <a (click)="load('/r/' + link.subreddit + '/hot')">r/{{link.subreddit}}</a>
                </span>
                <span class="domain">{{link.domain}}</span>
              </div>
              <div>
                <a [href]="'https://www.reddit.com' + link.permalink" target="_blank">
                  <i class="far fa-comments"></i>
                  <span [innerText]="link.num_comments" class="comments"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-window>
