.reddit {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: flex;

  a {
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    text-decoration: underline;
  }

  a, a:hover, a:focus, a:active {
    color: inherit !important;
  }

  .body {
    overflow-y: scroll;
    flex-grow: 1;

    .links {
      color: black;

      .link {
        display: flex;

        &.has-preview {
          min-height: 120px;

          .link-thumbnail {
            flex: 0 0 150px;
            margin: 10px 15px 10px 0;
            background: no-repeat center;
            background-size: cover;
            display: block;

            img {
              display: block;
              max-width: 80px;
            }
          }
        }

        &.stickied {
          background: #cee3f8;
          border-radius: 4px;
        }

        .link-info {
          padding: 10px 10px 10px 0;
          flex-grow: 1;

          .link-details {
            color: #7b7b7b;
            font-size: .7em;

            .domain {
              float: right;
            }

            .fa-comment-o {
              margin-right: 3px;
            }
          }
        }

        .link-score {
          flex: 0 0 80px;
          text-align: center;
          color: #7b7b7b;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }

        .link-thumbnail {
          display: none;
        }
      }
    }

    .path {
      color: #ff4501;
      margin: 0;
      padding: 5px 15px;
      font-size: 1.5em;

      span {
        float: right;
        line-height: 3em;
        font-size: 0.5em;
      }
    }

    .spinner {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @keyframes sk-bounce {
        0%, 100% {
          transform: scale(0.0);
        }
        50% {
          transform: scale(1.0);
        }
      }

      .double-bounce1, .double-bounce2 {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #ff4501;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        animation: sk-bounce 2.0s infinite ease-in-out;
      }

      .double-bounce2 {
        animation-delay: -1.0s;
      }
    }
  }

  .sidebar {
    flex: 0 0 180px;
    overflow-y: auto;

    ul {
      padding-left: 15px;
    }

    .logo {
      text-align: center;
      color: #ff4501;
      font-size: 100px;
    }

    .menu {
      color: black;
      font-size: .9em;

      ul {
        font-size: .9em;
      }

      li {
        list-style-type: none;
      }
    }
  }
}
