.terminal {
  font-family: "Courier New", Courier, monospace;
  font-size: .8em;
  white-space: nowrap;
  padding: 5px 10px;
}

.user-input {
  border-right: 10px solid rgb(77, 77, 77);
  display: inline-block;
  margin-bottom: 3px;
  white-space: pre;
}

div + .user-input {
  margin-top: 2px;
}
