.titlebar {
  background: #f0f0f0;
  height: 20px;
  border: 1px solid #acacac;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  user-select: none;
}

.content {
  font: 1em monospace;
  white-space: nowrap;
  background: #333333;
  color: #efefef;
  flex: 1;
  border: 1px solid #acacac;
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 5px 10px;
  overflow-y: auto;
}

.maximize {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #acacac;
  margin-left: 8px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 11px;
  width: 11px;
  border-radius: 6px;
  cursor: default;
}

.user-input {
  border-right: 10px solid rgb(77, 77, 77);
  display: inline-block;
  margin-bottom: 3px;
  white-space: pre;
}

.terminal {
  width: 800px;
  height: 400px;
  position: fixed;
  top: 30%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-30%);
  border-radius: 6px; /* Needed by box shadow */
  box-shadow: 0 0 20px #acacac;
  display: flex;
  flex-direction: column;
}
