<p>My work experience:</p>
<div class="entry">
  <p>
    Software Engineer Intern at GE Healthcare
    <span class="location">(Buc, France)</span>
    <span class="period">mars 2015 -> sept 2015</span>
  </p>
  <p class="description">
    I implemented an innovative HMI using a web-based architecture to optimize the ergonomics of an interventional X-Ray
    imaging system by incorporating the ability to interact with other medical devices related to the imaging system.
  </p>
</div>
<div class="entry">
  <p>
    Software Engineer at GE Healthcare
    <span class="location">(Buc, France)</span>
    <span class="period">since oct 2015</span>
  </p>
  <p class="description">
    I work on the front-end part (AngularJS) of a web application which allows to view medical DICOM images.
  </p>
</div>
