@import '../executor';

:host {
  display: block;
}

p {
  white-space: normal;
  margin: 0;
}

.description {
  margin-top: 10px;
  text-align: justify;
}

.description, .location {
  color: $secondary-color;
}

.period {
  float: right;
}
