:host {
  display: block;
}

.card {
  border: 1px solid #c5c5c5;
  border-radius: 6px;
  padding: 5px 7px;
  margin: 10px 0;
}

.description {
  margin-top: 10px;
  text-align: justify;
}

.description, .location {
  color: #c5c5c5;
}

.period {
  float: right;
}
