@import '../../terminal.constants';

:host {
  display: block;
}

p {
  white-space: normal;
  margin: 0;
}

.description {
  margin-top: 1ch;
  text-align: justify;
}

.description, .location {
  color: $secondary-color;
}

.entry {
  margin: 1ch;

  & + & {
    margin-top: 2ch;
  }
}

.period {
  float: right;
}
