:host {
  display: block;
}

p {
  white-space: normal;
  margin: 0;
}

.description {
  margin-left: 1ch;
  text-align: justify;
}

.description, .location {
  color: #c5c5c5;
}

.entry {
  margin: 5px 0 0 1ch;
}

.period {
  float: right;
}
