<div class="entry">
  <p>
    Software Engineer Intern at GE Healthcare
    <span class="light">(Buc, France)</span>
    <span class="period">mar 2015 -> sept 2015</span>
  </p>
  <p class="description">
    I implemented an innovative HMI using a web-based architecture to optimize the ergonomics of an interventional X-Ray
    imaging system by incorporating the ability to interact with other related medical devices.
  </p>
</div>
<div class="entry">
  <p>
    Software Engineer at GE Healthcare
    <span class="light">(Buc, France)</span>
    <span class="period">oct 2015 -> nov 2018</span>
  </p>
  <p class="description">
    I worked on the frontend part of an SDK that aims to facilitate the creation of applications to visualize medical
    images.
  </p>
</div>
<div class="entry">
  <p>
    Frontend developer at ManoMano
    <span class="light">(Paris, France)</span>
    <span class="period">dec 2018 -> now</span>
  </p>
  <p class="description">
    I work on the ManoMano website.
  </p>
</div>
