<div #window class="window" [ngClass]="{active: active, animate: animate, minimized: minimized}" (mousedown)="select()"
     [ngStyle]="{'z-index': zIndex}">
  <div class="titlebar" [ngStyle]="titleStyle" (mousedown)="startMove($event)" (dblclick)="maximize()">
    <div class="buttons">
      <div class="button close" (click)="close()">
        <i class="fa fa-close" aria-hidden="true"></i>
      </div>
      <div class="button minimize" (click)="minimize()">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </div>
      <div class="button maximize" [ngClass]="{disabled: !resizable || !canBeMaximized()}" (click)="maximize()">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </div>
    </div>
    <span class="title">{{windowTitle}}</span>
  </div>
  <div #content class="content" [ngStyle]="contentStyle">
    <ng-content></ng-content>
  </div>
  <div *ngIf="resizable" class="resize" (mousedown)="startResize($event)"></div>
</div>
