<div #window class="window" [ngClass]="{active: active, animate: animate, maximized: maximized, minimized: minimized}"
     (mousedown)="select()" [ngStyle]="{background: background, 'z-index': zIndex}">
  <div class="titlebar" [ngStyle]="{background: titleBackground, color: titleColor}" (mousedown)="startMove($event)"
       (dblclick)="toggleMaximize()">
    <div #buttons class="buttons">
      <div class="button close" (click)="close()">
        <i class="fa fa-close" aria-hidden="true"></i>
      </div>
      <div class="button minimize" (click)="minimize()">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </div>
      <div class="button maximize" [hidden]="!resizable" (click)="toggleMaximize()">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </div>
    </div>
    <span class="title">{{windowTitle}}</span>
  </div>
  <div #content class="content">
    <ng-content></ng-content>
  </div>
  <div *ngIf="resizable" class="resize" (mousedown)="startResize($event)"></div>
</div>
