@import '../executor';

:host {
  display: block;
}

p {
  white-space: normal;
  margin: 0;
}

.card {
  width: 30ch;
}

.command {
  display: inline-block;
  width: 12ch;
  margin-left: 1ch;
}

.description {
  color: $secondary-color;
  float: right;
  width: 19ch;
}
