@import '../executor';

:host {
  display: block;
}

p {
  white-space: normal;
  margin: 0;
}

.card {
  width: 32ch;
}

.command {
  display: inline-block;
  width: 12ch;
  margin-left: 1ch;
}

.description {
  color: $secondary-color;
  float: right;
  width: 21ch;
}
