canvas {
  width: 100%;
  height: 100%;
}

.overlay {
  color: white;
  position: absolute;
  font-family: monospace;

  $overlay-margin: 10px;

  &.overlay-bottom-left {
    bottom: $overlay-margin;
    left: $overlay-margin;
  }

  &.overlay-bottom-right {
    bottom: $overlay-margin;
    right: $overlay-margin;
    text-align: right;
  }

  &.overlay-top-left {
    top: $overlay-margin;
    left: $overlay-margin;
  }

  &.overlay-top-right {
    top: $overlay-margin;
    right: $overlay-margin;
    text-align: right;
  }

  p {
    text-shadow: #000 0 0 1px;
    margin: 0;

    & + p {
      margin-top: 5px;
    }
  }
}
