<app-window [windowTitle]="title" background="black" titleColor="#efefef" [minWidth]="800" [minHeight]="554"
            (resize)="onResize($event)">
  <div class="container">
    <app-dicom-viewer-config [hidden]="!showConfig" (config)="start($event)"></app-dicom-viewer-config>
    <app-dicom-viewer-toolbar *ngIf="viewport" [activeLeftTool]="activeLeftTool" [activeRightTool]="activeRightTool"
                              [viewport]="viewport"
                              (toolSelected)="selectActiveTool($event)"></app-dicom-viewer-toolbar>
    <div #viewportElement class="viewport" [hidden]="showConfig">
      <button (click)="back()">Back</button>
      <app-dicom-viewer-annotations *ngIf="annotations" [annotations]="annotations"
                                    [availableViewTypes]="availableViewTypes"
                                    (viewType)="switchViewType($event)"></app-dicom-viewer-annotations>
    </div>
    <div class="loading" *ngIf="loading">
      <p>Loading...</p>
    </div>
    <div class="error" *ngIf="!!errorMessage">
      <p>{{errorMessage}}</p>
    </div>
  </div>
</app-window>
