<button *ngIf="dataset.frames.length > 1"
        [ngClass]="{'active-left': activeLeftTool === paging, 'active-right': activeRightTool === paging}"
        (click)="selectLeftTool(paging)" (contextmenu)="selectRightTool(paging)">
  <i class="fa fa-arrows-v" aria-hidden="true"></i>
</button>
<button
  [ngClass]="{'active-left': activeLeftTool === windowing, 'active-right': activeRightTool === windowing}"
  (click)="selectLeftTool(windowing)" (contextmenu)="selectRightTool(windowing)">
  <i class="fa fa-adjust" aria-hidden="true"></i>
</button>
<button
  [ngClass]="{'active-left': activeLeftTool === pan, 'active-right': activeRightTool === pan}"
  (click)="selectLeftTool(pan)" (contextmenu)="selectRightTool(pan)">
  <i class="fa fa-arrows" aria-hidden="true"></i>
</button>
<button
  [ngClass]="{'active-left': activeLeftTool === zoom, 'active-right': activeRightTool === zoom}"
  (click)="selectLeftTool(zoom)" (contextmenu)="selectRightTool(zoom)">
  <i class="fa fa-search" aria-hidden="true"></i>
</button>
